.widget_article_list h2 {
  margin: 0; }
  .widget_article_list h2:before {
    content: none;
    margin: 0;
    width: auto; }
  .widget_article_list h2.widget-title {
    font-size: 30px; }
  .widget_article_list h2:after {
    content: " ";
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: block; }

.widget_article_list .article {
  margin: 15px auto; }
  .widget_article_list .article h4 {
    margin: 0px;
    font-weight: 20px; }
  .widget_article_list .article .article-content {
    margin-left: 10px;
    font-size: 16px;
    font-style: italic; }
