.widget_article_list {
  h2 {
      margin: 0;
    &:before {
      content: none;
      margin: 0;
      width: auto;
    }
    &.widget-title {
      font-size: 30px;
    }
    &:after{
        content: " ";
        margin-top: 5px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        display: block;

    }
  }
  .article{
      margin: 15px auto;
      h4{
          margin: 0px;
          font-weight: 20px;
      }
      .article-content{
        margin-left: 10px;
        font-size: 16px;
        font-style: italic;
      }
  }
}
